*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    
}

a{
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

@media screen and (max-width: 768px){
    .navbar ul{
        flex-direction: column;
        background-color: gray;
        align-items: center;
        
    }
    
    .navbar li{
        padding: 10px;
    }
}